<div class="mb-4 text-sm text-gray-600 dark:text-gray-400">
  Forgot your password? No problem. Just let us know your email address and we will email you a password reset link that will allow you to choose a new one.
</div>
<!-- Session Status -->
<%= render(AuthSessionStatusComponent.new({ class: "mb-4", status: flash[:status] })) %>
<%= form_with model: @form, url: password_request_path do |form| %>
  <!-- Email Address -->
  <div>
    <%= render(InputLabelComponent.new({ for: "email", value: "Email" })) %>
    <%= render(TextInputComponent.new({ id: "email", class: "block mt-1 w-full", type: "email", name: "email", value: @form.email, required: true, autofocus: true, autocomplete: "username" })) %>
    <%= render(InputErrorComponent.new({ class: "mt-2", message: @form.error_messages[:email] })) %>
  </div>
  <div class="flex items-center justify-end mt-4">
    <%= render(PrimaryButtonComponent.new) do %>
      Email Password Reset Link
    <% end %>
  </div>
<% end %>
