<%= form_with model: @form, url: password_store_path do |form| %>
  <!-- Password Reset Token -->
  <input type="hidden" name="token" value="<%= @form.token %>">

  <!-- Password -->
  <div>
    <%= render(InputLabelComponent.new({ for: "password", value: "Password" })) %>

    <%= render(TextInputComponent.new({ id: "password", class: "block mt-1 w-full", type: "password", name: "password", required: true, autofocus: true, autocomplete: "new-password" })) %>

    <%= render(InputErrorComponent.new({ class: "mt-2", message: @form.error_messages[:password] })) %>
  </div>

  <!-- Confirm Password -->
  <div class="mt-4">
    <%= render(InputLabelComponent.new({ for: "password_confirmation", value: "Confirm Password" })) %>

    <%= render(TextInputComponent.new({ id: "password_confirmation", class: "block mt-1 w-full", type: "password", name: "password_confirmation", required: true, autocomplete: "new-password" })) %>

    <%= render(InputErrorComponent.new({ class: "mt-2", message: @form.error_messages[:password_confirmation] })) %>
  </div>

  <div class="flex items-center justify-end mt-4">
    <%= render(PrimaryButtonComponent.new) do %>
      Reset Password
    <% end %>
  </div>
<% end %>
